h2 {
	 margin-top: 1rem;
}
aside {
	width: 20%;
	float: left;
}
main {
	width: 80%;
	float: right;
	padding: 1rem;
}

.grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}
.grid-cell {
	width: 50%;
	background: var(--clr-dark-grey);
	padding: 1rem;
}

form {
	background: var(--clr-dark-grey);
	padding: 1rem;
	margin: 0;
}
.form-control {
	background: #FFF;
}
.img-thumbnail {
	width: 200px;
}

.thumb {
	width: 200px;
}

ul.info {
	display: block;
}
.thumb-container {
	float: left;
	margin-right: 1rem;
}
div.listing-detail p{
	margin-left: 1rem;
}